.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #3a3a4a !important;
    border-color:#fff !important;
}

.footer
{
    height: 50px;
    border-top: solid 1px black;
}